# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/






#Object


#Exclutable
*.exe
output.txt
*.cpp.obj















#SymbolTable/cmake-build-debug/
#cmake-build-debug/
#cmake-build-debug/*.*
#cmake-build-debug/*.txt
cmake-build-debug/
SymbolTable/cmake-build-debug/CMakeFiles/
*.cmake



**/cmake-build-debug/
**/CMakeFiles/


**/workspace.xml
**/.idea/workspace.xml




**/desktop.ini
*.driveupload







*.o
*.out


*.odt#





**/y.tab.c
**/lex.yy.c

SyntaxAnalyzer/y\.output

SyntaxAnalyzer/y\.tab\.h

SyntaxAnalyzer/Prev Codes Collected/1405045/y\.output

SyntaxAnalyzer/Prev Codes Collected/1405045/y\.tab\.h

SyntaxAnalyzer/Prev Codes Collected/1405045/1405045_errors\.txt

SyntaxAnalyzer/Prev Codes Collected/1405045/1405045_log\.txt

SyntaxAnalyzer/errors\.txt

SyntaxAnalyzer/log\.txt

SyntaxAnalyzer/rules\.txt

SyntaxAnalyzer/parser\.txt




**/.idea/vcs.xml
**/.idea/codeStyles/Project.xml
IRGenerator/code\.asm

IRGenerator/errors\.txt

IRGenerator/log\.txt

IRGenerator/parser\.txt

IRGenerator/y\.output

IRGenerator/y\.tab\.h

IRGenerator/Prev Codes Collected/1405045/code\.asm

IRGenerator/Prev Codes Collected/1405045/1405045_log\.txt

IRGenerator/optimized-code\.asm
